<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>servlet.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>servlet.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAdminServlet</servlet-name>
        <servlet-class>servlet.LoadAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpAdminServlet</servlet-name>
        <servlet-class>servlet.SignUpAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactiveAdminServlet</servlet-name>
        <servlet-class>servlet.DeactiveAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveAdminServlet</servlet-name>
        <servlet-class>servlet.ActiveAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/ProcessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAdminServlet</servlet-name>
        <url-pattern>/LoadAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpAdminServlet</servlet-name>
        <url-pattern>/SignUpAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactiveAdminServlet</servlet-name>
        <url-pattern>/DeactiveAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveAdminServlet</servlet-name>
        <url-pattern>/ActiveAdminServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ProcessServlet</welcome-file>
    </welcome-file-list>
</web-app>
